@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #ff8000;
}
header {
  grid-area: header;
  background: #203040;
  color: #fff;

  display: flex;
  align-items: center;

  padding: 0.5rem;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background: #203040;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 420px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  max-width: 37rem;
  max-height: 37rem;
}
.product p {
  color: #333;
  font-weight: 500;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price .button {
  flex: 1;
  text-align: center;
}

.button {
  padding: 1rem;
  background: #f0f0f0;
  border: none;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button.primary {
  background: #f0c040;
}
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  margin: 1rem;
}
.filter div {
  flex: 1;
}

/* addtocart */
.cart-container {
  border: 1px solid rgb(237, 237, 237);
  padding: 5px;
}
.cart-header {
  background: #333;
  color: #fff;
  padding: 10px;
  margin-top: 15px;
}
.cartItem {
  border: 1px solid rgb(237, 237, 237);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 10px 15px -20px rgba(0, 0, 0, 1);
}
.cartItem .image {
  width: 40px;
  height: 40px;
}
.cartItem .image img {
  width: 90%;
}

.cartItem .content_area {
  flex: 1;
}
.cartItem .content_area p {
  margin: 0px;
}
.cartItem .content_area h4 {
  margin: 0px;
}
.btn-remove {
  border: none;
  padding: 5px 10px;
  font-size: 1.2rem;

  background: rgb(232, 119, 44);
  color: #fff;
  cursor: pointer;
}
.btn-remove:focus {
  outline: none;
}
.total-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-button h2,
.total-button h3 {
  margin: 0;
}
.proceed {
  display: block;
  background: #f0c040;
  border: none;

  padding: 5px 25px;

  margin-top: 20px;

  cursor: pointer;
}
.proceed:focus {
  outline: none;
}
